@import "~bootstrap/scss/bootstrap";

$navBar: #141729;
$highlight: #5b61f7;
$navText: rgba(255,255,255,.8);

body {
    color: #ffffff;
    background-color: $navBar;
}

.highlight-text {
    color: $highlight;
}

.highlight-background {
    background-color: $highlight;
}

.highlight-border {
    border-color: $highlight;
}

.text-lightgray {
    color: #dadada
}

#index-image {
    width: 90%
}

#save-secret-form #value {
    background-color: transparent;
    color: white;
    border-radius: 20px;
}

#save-secret-form #create-link {
    &:hover {
        border-color: $highlight;
        background-color: transparent;
        color: $highlight;
    }
}

main {
    background-color: $navBar;
}

h1{
    margin-bottom: 40px;
}

.navbar{
    background-color: $navBar;
    a {
        color: #ffffff;
        &:hover {
            color: $highlight;
        }
    }
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: transparent!important;
}
.navbar .navbar-toggler:focus{
    color: transparent;
}

.sub-nav{
    background-color: $navBar;
    a {
        color: #ffffff;
    }
}

.card {
    padding: 20px 40px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
