@import "~bootstrap/scss/bootstrap";

$navBar: #1a2238;
$navText: rgba(255,255,255,.8);

body {
    color: $navBar;
}

h1{
    margin-bottom: 40px;
}

.navbar{
    background-color: $navBar;
    a {
        color: #ffffff;
    }
    a:hover{
        color: #9daaf2;
    }
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: transparent!important;
}
.navbar .navbar-toggler:focus{
    color: transparent;
}

.sub-nav{
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(204,204,204,0.3);
    margin-bottom: 40px;
    a {
        color: $navBar;
    }
}

.card {
    box-shadow: 0 2px 4px rgba(204,204,204,0.8);
    padding: 20px 40px;
}
